*{
	margin: 0;
	padding: 0;
}
video{
	width: 100%;
}
.container__perros{
	width: 100%;
	height: 768px;
	padding: 0 !important;	
}
.container__perros img{	
	width: 100%; 
	z-index: 1;
}
.boton{
	position: absolute;
	z-index: 2; 
	margin-top: 50vh;

}
.container__gatos img{
	width: 100%;
}
.container__gatos{
	width: 100%;
	height: 768px;
	padding: 0 !important;
	
}
.container__img{
	margin-top: -100px;
	width: 100%;
	height: 1300px;
	background-color: #00b3ae;
}
.container__form__help{
	margin-top: -100px;
	width: 100%;
	height: 1300px;
	background-color: #00b3ae;
}
.mon{
	width: 150%;
	margin-top: -600px;
}
.nub{
	width: 100%;
	margin-top: -60px;
}