body{
	background-color: #00b3ae;
	overflow: auto !important;
}
/*--------------------------------------------------import font--------------------------------------------------*/
/*							Contenido general:  font-family: 'Roboto', sans-serif;
							Contenido titulos:  font-family: 'Roboto Condensed', sans-serif;
*/

/*----------------------------------------------diseño sobre video----------------------------------------------*/
video{
	width: 100%;
	position: relative;
}
#Inicio{
	text-align: center;
}

.ingresa{

		background: #9dd53a; /* Old browsers */
		background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

	position: absolute;
 	bottom: 150px;
 	left: 30%;
 	right: 30%;
 	font-family: "Roboto";
 	font-weight: 600;
 	text-transform: uppercase;
 	font-size: 40px;
 	border-radius: 8px;
}



.frase{
	position: absolute;
	text-align: center;
	z-index: 1;
	top: 100px;
	width: 100%;
}
/*-----------------------------------------------------estilos menu-----------------------------------------------------*/



/*.menu_floopets,#logo{
	display: none;
}*/

a{
	text-decoration: none;
}

.hamburger-menu{
  width: 50px;
  height: 80px;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
}

.hamburger-menu div{
  background-color: white;
  width: 35px;
  height: 8px;
  margin-bottom:5px;
  transition: all 0.2s ease-out;
}

.hamburger-menu:hover > .first, .open .first {
  transform: translateY(10px) rotate(45deg);

}

.hamburger-menu:hover > .second, .open .second {
  opacity: 0;
}

.hamburger-menu:hover > .third, .open .third {
  transform: translateY(-16px) rotate(-45deg);
}


.open .first, .open .third{
  background-color: black;
}

.side-nav{
	width: 426px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
	background-color: transparent;
	background-image: url(../recursos/images/menu.png);
	background-repeat: no-repeat;
	background-position: right 0;
	box-shadow:none;
	direction:rtl;
	overflow: auto;

}

.side-nav::-webkit-scrollbar{width: 5px;}
.side-nav::-webkit-scrollbar-thumb{background-color:rgb(196, 196, 196); border-radius: 0;}
.side-nav::-webkit-scrollbar-thumb:hover{background-color:rgb(196, 196, 196);}
.side-nav::-webkit-scrollbar-track{background-color:rgb(237, 237, 237);}

.side-nav ul{
    width: 315px;
    direction: ltr;
    float: left;
}


.menu_floopets  li {
	display: inline-block;
}


#menu{
	position: fixed;
	z-index: 10;
	font-size: 45px;
	color: #fff;
	margin: 20px;
	cursor: pointer;
	transition: 10s;
}

.menu_floopets a:hover{
	background-color: inherit;
}

#logo{
    max-width: 250px;
    max-height: 120px;
    cursor: pointer;
    float: left;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/*-----------------------------------------------estilos seccion 1-----------------------------------------------*/


.frase img{
	width: 70%;
}

.seccion1{
	margin-top: -10px;
}


#conteadop{
	position: absolute;
	width: 100%;
	margin-top: 50vh;
	z-index: 3;
	font-family: "Roboto";
	font-weight: lighter;
	text-align: center;
}

#conteadop p{
	font-size: 30px;
	margin-bottom: 0;
	text-transform: uppercase;
}

#conteadop button{

	width: 200px;
	text-transform: inherit;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255,179,0,0.8) !important;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
}
.container__perros{
	width: 100%;
	padding: 0 !important;
	position: relative;

}
.container__perros img{
	width: 100%;
	z-index: 1;
}


.container__gatos img{
	width: 100%;
	z-index: 3;
}
.container__gatos{
	width: 100%;
	padding: 0 !important;
	position: relative;

}


 /*-------------------------------------------- TITULOS --------------------------------------------*/

 h1, h2, h3, h4{
 	text-transform: uppercase;
 }

h2{
    font-size: 50px;
    line-height: 34px;
}

h3{
    font-size: 30px;
    font-weight: bold;
}
h2 span{
	display: block;
	font-size: 20px;
	font-weight: lighter;
	padding: 0;
	margin: 0;
}

.conten_p{
	width: 80%;
	position: relative;
	margin: auto;
}

/*----------------------------------------------estilos seccion 2----------------------------------------------*/

.seccion2{
	position: relative;
    z-index: 1;
}
.container__img{
	width: 100%;
}
.bran{
	width: 40%;
}
.container__img h3{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}
.container__form__help{
	width: 100%;
}
.boton__form{
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255,179,0,0.8) !important;
	border-radius: 5px;
}

.seccion2 option, .seccion2 input{
	padding-left: 10px !important;
}
.mascota label{
	color: white;
	font-size: 15px;
}
.container__form__help h3{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}
.select-wrapper input.select-dropdown{
	border-bottom: 1px solid #fff;
}
textarea.materialize-textarea {
	border-bottom: 1px solid #fff;
}
.textarea label{
	color: #fff;
}
input {
    color: white;
}
.input-field{
	padding-right: 50px;
}
.campos{
  padding-right: 50px;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #fff;
}
input[type=text]{
	border-bottom: 1px solid #fff;
}
input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
input[type=email]{
	border-bottom: 1px solid #fff;
}
input[type=number]{
	border-bottom: 1px solid #fff;
}
input[type=email]:focus:not([readonly]){
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
input[type=number]:focus:not([readonly]){
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
.input-field label{
	color: #fff;
}
input[type=text]:focus:not([readonly]) + label{
	color: #fff;
}
input[type=email]:focus:not([readonly]) + label{
	color: #fff;
}
.character-counter{
	color: #fff;
}
div.inputFile {
	position: relative;}

div.fakeFile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;}

	input.file {
		position: relative;
		text-align: right;
		-moz-opacity:0 ;
		filter:alpha(opacity: 0);
		opacity: 0;
		z-index: 2;
	  width:350px;
	  height:300px;
	  cursor:pointer;}
		section{
		  position: relative;
		  width:350px;
		  height:300px;
		  margin:auto;}
/*-----------------------------------------estilos parallax-----------------------------------------------*/
.nubes{
	position: absolute;
}
.nubes img{
	max-height: 350px;
	max-width: 300px;
}
.parallax-container{
	position: relative;
	z-index: 1;
}
.parallax-container {
      height: 900px;
}
.edificios{
	position: relative;
	z-index: 1;
	height: 500px;
}
.azul{
	position: absolute;
	width: 100%;
	height: 200px;
	margin-top: -120px;
}
.nube1{
	position: relative;
	margin-top: 250px;
	left: 100px;
}
.nube2{
	position: relative;
	margin-top: -300px;
	left: 350px;
}
.nube3{
	position: relative;
	left: 550px;

}
.nube4{
	position: relative;
	left: 900px;
	margin-top: -320px;
}
.nube5{
 	position: relative;
 	margin-top: 300px;
 	left: 300px;
}
.nube6{
 	position: relative;
 	margin-top: -300px;
 	left: 900px;
}
/*----------------------------------------------estilos seccion 3----------------------------------------------*/
.seccion3{
	margin-top: -60px;
}
.container__perdida, .container__historias{
	width: 100%;
	padding: 0 !important;
	position: relative;
}
.container__perdida img, .container__historias img{
	width: 100%;

}
#perdida{
	position: absolute;
	/*margin-top: 70vh;*/
	margin-top: 3%;
	/*left: 190px;*/
	margin-left: 12%;
}
#perdida p{
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
}
#historias{
	position: absolute;
	/*margin-top: 70vh;*/
	margin-top: 3%;
	/*left: 950px;*/
	margin-left: 20%;
}
#historias p{
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
}
html{
  color: #fff;
}
/*----------------------------------------------estilos seccion Cuidados----------------------------------------------*/
#voluntarios{
  padding-top: 50px;
  background-color: white;
  margin-top:-10px;
  color: #858585;
}

#voluntarios h2{
	color:#00b3ae;
}
.img_von{
  margin-top: 20px !important;
  display: block;
  margin: auto;
  width: 400px;
}
#info-v{
  font-size: 18px;
}
.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid #fff;
    position: absolute;
    bottom: 0;}

.voluntario{
	background: rgba(255,179,0,0.8);
 	margin-bottom: 30px;
 	font-family: "Roboto";
 	font-weight: 600;
 	font-size: 30px;
 	border-radius: 5px;
}
.voluntario:hover{
  background: rgba(255,179,0,0.8);
}


/*.carousel-item img{
	max-height: 600px;
	border-radius: 20px;
	margin-left: 30px;
}*/

.logo__footer{
	max-width: 204px;
	max-height: 81.693px;
}
/*----------------------------------------------estilos seccion Eventos----------------------------------------------*/
#owl-demo .item{

  margin: 0px;
}
#owl-demo .item img{
  display: block;
  width: 100%;

}
.text-event{
	position:relative;
	margin-top: -150px;
	color: #fff;
	background-color: rgba(0,179,174,0.5);
}
#info{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
#info h4{
	text-align: center;
}
#info p{
	margin-left: 50px;
	text-align: justify;
	max-width: 70%;
}
#info a{
	margin-left: 50px;
	border-radius: 0;
	background-color: rgba(255,179,0,0.8) !important;

}
div.item:hover div#info{
	display: block;
	background-color: rgba(0,0,0,0.7);

}
div.item:hover div.text-event{
	display: none;
}


/*-------estilos eventos----------*/

.seccion_eventos{
	/*background: #a0cf62;*/
	padding: 0 !important;
	margin:0 !important;
	height: 400px;
	width: 100%;
	height: 100%;



}
.img_eventos{
	width: 100%;


}
.abajo{
	margin-top:-6px;
}


.seccion_eventos > img:hover{

    opacity: 0.4;

}



/*responsive design de las tabletas*/
@media screen and (max-device-width : 768px) and  (orientation : portrait){
 .ingresa{
 	margin-left: 25%;
 }


 #adoptaperro{
		margin-top:18%;
	}

	.boton{
	margin-top: 32%;
	margin-left: 12%;

}
	#adoptagato{
	margin-top: 18%;
	margin-left: 12%;

}

	.boton1{
	margin-top: 32%;
	margin-left: 12%;

}

	#perdida{
		margin-left: 7%;
	}

	#historias{
		margin-left: 15%
	}
}

/*responsive design del movil horizontal*/
@media screen and (max-width: 640px) and (orientation:landscape){

.ingresa{

	margin-left: 22%;

}
#adoptaperro{
		margin-top:14%;
		margin-left: 12%;
	}

.boton{
	margin-top: 30%;
	margin-left: 10%;

}

#adoptagato{
	margin-top: 14%;
	margin-left: 12%;
}

.boton1{
	margin-top: 30%;
	margin-left: 10%;
}

#perdida{
		margin-left: 2%;
	}

#historias{
	margin-left: 13%;
}
}



/*responsive design movil*/

@media screen and (max-width: 480px){

.ingresa{
	width: 150px;
	height: 40px;
	font-size: 15px;
	padding-left:0px;
	padding-right: 0px;
	margin-left: 30%;

}

#menu{
font-size: 20px;
}


.boton{
	margin-top: 70%;
	margin-left: 20%;
}

#adoptaperro{
	margin-top: 40%;
	margin-left: 20%;
}

#adoptagato{
	margin-top: 35%;
	margin-left: 20%;
}

.boton1{
	margin-top: 63%;
	margin-left: 20%;
}

#historias{
	margin-left: 28%;
}


}​
