video{
	width: 100%;
}
/*-----------------------------------------------estilos seccion 1-----------------------------------------------*/
.container__perros{
	width: 100%;
	height: 768px;
	padding: 0 !important;	
}
.container__perros img{	
	width: 100%; 
	z-index: 1;
}
.boton{
	position: absolute;
	z-index: 2; 
	margin-top: 50vh;
	left: 50px;

}
.container__gatos img{
	width: 100%;
}
.container__gatos{
	width: 100%;
	height: 768px;
	padding: 0 !important;
	
}
/*----------------------------------------------estilos seccion 2----------------------------------------------*/
.container__img{
	width: 100%;
	background-color: #00b3ae;
}
.container__form__help{
	width: 100%;
	background-color: #00b3ae;
}
