/**{
	margin: 0;
	padding: 0;
}*/
/*body{
	background-image: url("../../../WebFloopets/images/evento4.jpg");
}*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Condensed', sans-serif;
	color: #000;
}
p{

	margin-left: 10px;
	font-family: "Roboto",Arial;
	font-size: 14px;
	color: white;
	text-align: center;
}
#menu_icono img{
max-width: 204px;
max-height: 81.693px;
display: block;
margin: auto;
margin-top: 20px;
}
#tabla{
	font-family:"Roboto", Arial;
	float: none;
	margin-left: 260px;
	width: 900px;
	margin-top: 70px;
}
#menu_icono{
	height: 100vh;
	background-color:#00b3ae;
	overflow: auto;
}
#menu_icono a{
	color: #000;
	font-size: 15px;
	margin: 6px;
	display: block;
}
#menu_up{
	position: absolute;
	height: 60px;
	width: 100%;
	z-index: -3;
}

#ajustes{
	color: #000;
	font-family: Arial;
	font-size: 15px;
	margin-left: 198px;
	float: right;
	margin-top: 20px;
}
.formularios{
	margin-top: 80px !important;
}
.input-field{
	padding-right: 50px;
}
/*.botones{
	margin-top: 150px;
}*/
/*.usuario{
	text-decoration: none;
	color: #000;
	display: inline-block;
	margin: auto;
}*/
#form{
	margin-top: -40px;
	font-family: Arial;
	float: none;
	margin-left: 18%;
	width: 70%;
	height: 600px;
	overflow: auto;
}
#form label{
	color: black;
	font-family: "Roboto";
}
.mascotas p{
	color: #000 ;

}
.mascotas{
	border: solid 1px #000;

}
/*.icon{
	color: #fff;
	text-align: center;
	width: 90px;
	margin-top: 30px;
}

.icon:hover{
	color: #19ffff;

}
ul>.icon> a:hover{
	color: red !important;
}
.icon i{
	font-size: 40px;
	color: inherit;
}
ul .icon a {
	color: inherit;
}
.oferta{
	margin-left: 260px;
	width: 100%;
	margin-top: 10%;
}
.oferta img {
    width: 70% !important;
}
.imagenmascota{
	width: 200px;
	height: 200px;
}
.descrip{
	list-style: none;
	/*margin-left: 20%;*/

/*Ensayo de paginacion*/
