/*estilos del formulario*/
body{
	background: #456bda;
}

.titulo_formulario {
	/*padding: 0 25px 15px 25px;*/
	background: #fff;
	height: 110px;
	width: 70%;
	/*text-align: left;*/
}

#titulo{
	padding-top: 40px;
	text-align: center;
	font-size: 30px;
	

}

.formulario {
	padding: 25px 25px 30px 25px;
	background: rgba(238,238,238,0.5) !important; 
	text-align: left;
}

form button {
	width: 100%
}

.formulario1 {
	padding: 25px 25px 30px 25px;
	text-align: left;
	width: 70%;
	background: #eee;
	align-content: center;
}

